version: "3.9"

services:
  db:
    image: postgres:17
    container_name: golang_gorm_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app_db"]
      interval: 5s
      timeout: 3s
      retries: 5
  redis:
    image: redis:7.4-alpine
    container_name: golang_redis
    restart: always
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=redis
    command: redis-server --requirepass $$REDIS_PASSWORD
    volumes:
      - ./redis-data:/data   
volumes:
  redis-data: